.about {
  grid-template-columns: 1fr 1fr 1fr;
  gap: max(20px, min(2vw, 24px));
  width: 100%;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  /* padding: 11rem 2em 3.75rem; */
  display: grid;
  position: relative;
}

.section {
  flex-direction: column;
  padding-bottom: 1rem;
  display: flex;
  max-width: 300px;
}

.label {
  opacity: 0.32;
  text-transform: uppercase;
  color: #121212;
  margin-bottom: 1rem;
  font-family: Satoshi-Variable, sans-serif;
  font-weight: 800;
  text-decoration: none;
}

.about p,
.about a {
  font-family: Satoshi-Bold, sans-serif;
}

@media (max-width: 1200px) {
  p,
  a {
    font-size: 14px;
  }
}

.about p,
.about a,
.about li {
  color: #121212;
  font-family: Satoshi-Variable, sans-serif;
  font-size: 14px;
  /* font-weight: 800; */
  text-decoration: none;
  transition: color 0.3s;
}

.socials {
  gap: 1em;
  display: flex;
  position: absolute;
  bottom: 2rem;
}

@media (max-width: 1279px) {
  .about {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about {
    grid-template-columns: 1fr;
    max-width: max(520px, min(70vw, 1100px));
    margin-right: auto;
  }
}

@media (max-width: 1279px) {
  .socials {
    bottom: 2rem;
    left: 2rem;
  }
}
