#piano {
  /* background-color: #00471b; */

  display: flex;
  /* Other container styles (width, height, background, etc.) */
  width: 100%; /* Example width */
  height: 480; /* Example height */
  /* margin: 80px auto; */
  /* background-color: black; */
  /* border-radius: 10px; */
}
.keys {
  display: flex;
  --key-width: calc(100% / 7);
  --key-height: 100%;
  --black-key-relative-size: 0.6;
  width: 100%;
  border: none;
}

button {
  display: block;
  width: var(--key-width);
  height: var(--key-height);
  /* border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; */
  border: none;
  /* border: 1px solid black; */
  writing-mode: sideways-lr;
}

button:hover {
  cursor: pointer;
  background: black;
  color: white;
}
.normal {
  writing-mode: horizontal-tb;
}
button:nth-child(12n + 2),
button:nth-child(12n + 4),
button:nth-child(12n + 7),
button:nth-child(12n + 9),
button:nth-child(12n + 11) {
  background: white;
  border: black;
  border-style: solid;
  z-index: 1;
  margin-left: calc(var(--key-width) * var(--black-key-relative-size) / 2 * -1);
  height: calc(var(--key-height) / 2);
  width: calc(var(--key-width) * var(--black-key-relative-size));
}

button:nth-child(1),
button:nth-child(3),
button:nth-child(5),
button:nth-child(6),
button:nth-child(8),
button:nth-child(10) {
  border-right: 1px solid black;
}

button:nth-child(12n + 3),
button:nth-child(12n + 5),
button:nth-child(12n + 8),
button:nth-child(12n + 10),
button:nth-child(12n + 12) {
  margin-left: calc(var(--key-width) * var(--black-key-relative-size) / 2 * -1);
}

button:nth-child(12n + 2):hover,
button:nth-child(12n + 4):hover,
button:nth-child(12n + 7):hover,
button:nth-child(12n + 9):hover,
button:nth-child(12n + 11):hover {
  background: black;
}

button:active {
  background: black;
}
